@{
    ViewData["Title"] = "Home Page";
}

<h3 id="header"></h3>
<button id="cmdShowData">Show Data</button>

<script>
    (function () {
        const { ipcRenderer } = require("electron");

        document.getElementById("cmdShowData").addEventListener("click", () => {
            ipcRenderer.send("getData", 'args');
        });

        ipcRenderer.on('sendData', (event, msg) => {
            document.getElementById("header").innerHTML = msg;
        });
    }());
</script>
